<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <title>Sign Up</title>
</head>
<body>
<div style="width: 50%; padding: 40px">
    <form action="/signup/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sign Up" class="btn waves-effect"/>
    </form>
    <p><a href="/login/"><button class="btn waves-effect" name="signup">Log In</button></a></p>
</div>
</body>
</html>